body {
  background-color: $color-grey;

  #root {
    display: block;
    min-height: 100vh;
  }

  & > div > div {
    padding-top: 25px;
  }
}

.background-blue {
  background-color: $color-blue;
}

h1.ui.header {
  color: white;
  font-weight: normal;
  text-align: center;
}

h2.ui.header {
  padding: 25px 10px;
  color: $color-blue;
}

.ui.dimmer .ui.loader {
  top: 20%;
}
