body {
  background-color: #eeeeee;

  & > div {
    padding-top: 50px;
  }
}

.background-blue {
  background-color: #156ac3;
}

h1.ui.header {
  color: white;
  font-weight: normal;
  text-align: center;
}
