@import '../../styles/colors';

.placeholder {
  border-radius: 16px;
  color: $color-white;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  margin: 0 auto;
  text-align: center;
  width: 32px;
}
